.quill-comment {
  display: inline !important;
}

.quill-comment + p {
  display: inline !important;
}

p:has( + .quill-comment) {
  display: inline !important;
}

.document-card .ql-disabled > .ql-editor {
  height: 200px;

  +> * {
    cursor: pointer;
  }
}

#invisible-toolbar {
  display: none;
}
